@model SuperrHero.Models.SuperHero

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-8">
    <h4>SuperHero : @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondaryAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondaryAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catchphrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catchphrase)
        </dd>

    </dl>
</div>
<div class="col-4">
    @if (Model.Id == 1)
    {
        <img src="~/Content/images/Nagraj.jpg" />
    }
    @if (Model.Id == 3)
    {
        <img src="~/Content/images/Doga.jpg" />
    }
    @if (Model.Id == 5)
    {
        <img src="~/Content/images/Bhokal.jpg" />
    }
    @if (Model.Id == 4)
    {
        <img src="~/Content/images/Super_Commando_Dhruva.jpg" />
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
